<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <title>Create Task</title>
</head>
<body>
<h1>Create New Task</h1>
<form th:action="@{/tasks/new}" th:object="${task}" method="post">
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" th:field="*{description}">
  <br>
  <label for="estimatedHours">Estimated Hours:</label>
  <input type="number" id="estimatedHours" name="estimatedHours" th:field="*{estimatedHours}">
  <br>
  <label for="completedHours">Completed Hours:</label>
  <input type="number" id="completedHours" name="completedHours" th:field="*{completedHours}">
  <br>
  <label for="remainingEffort">Remaining Effort:</label>
  <input type="number" id="remainingEffort" name="remainingEffort" th:field="*{remainingEffort}">
  <br>
  <button type="submit">Create Task</button>
</form>
<a href="/tasks">Back to Tasks</a>
</body>
</html>