<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <title>Task Details</title>
</head>
<body>
<h3>Logged in as: <span th:text="${owner.name}"></span> - ID: <span th:text="${owner.id}"></span></h3>
<form th:action="@{/api/logout}" method="post">
  <button type="submit">Logout</button>
</form>
<h1>Task Details</h1>
<div th:if="${task != null}">
  <p>ID: <span th:text="${task.id}"></span></p>
  <p>Description: <span th:text="${task.description}"></span></p>
  <p>Estimated Hours: <span th:text="${task.estimatedHours}"></span></p>
  <p>Completed Hours: <span th:text="${task.completedHours}"></span></p>
  <p>Remaining Effort: <span th:text="${task.remainingEffort}"></span></p>
  <form th:action="@{/tasks/{id}/remainingEffort(id=${task.id})}" method="post">
    <label for="remainingEffort">Update Remaining Effort:</label>
    <input type="number" id="remainingEffort" name="remainingEffort">
    <button type="submit">Update</button>
  </form>

  <h2>Comments</h2>
  <div th:if="${task.comments != null}">
    <div th:each="comment : ${task.comments}">
      <p th:text="${comment.content}"></p>
      <form th:action="@{/tasks/comments/{commentId}/edit(commentId=${comment.id})}" method="post">
        <label>
          <input type="text" name="content" th:value="${comment.content}">
        </label>
        <button type="submit">Edit</button>
      </form>
      <form th:action="@{/tasks/comments/{commentId}/delete(commentId=${comment.id})}" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <form th:action="@{/tasks/{taskId}/comments(taskId=${task.id})}" method="post">
    <label for="content">Add Comment:</label>
    <input type="text" id="content" name="content">
    <button type="submit">Add</button>
  </form>

</div>
<div th:if="${task == null}">
  <p>Task not found.</p>
</div>
<a href="/tasks">Back to Tasks</a>
</body>
</html>